*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Verdana;
	font-size: 16px;
}

html {
	height: 722px;
	width: 1536px;
}

body {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-container {

}