*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Verdana;
	font-size: 16px;
}

html {
	height: 722px;
	width: 1536px;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.form {
	height: 100%;
	width: 800px;
	padding-left: 20px;
	padding-right: 20px;
}

.attribute-form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.field {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.submit {
	justify-content: center;
}

